@import './droparea.css';

input[type="text"],
input[type="date"],
textarea,
select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);
    padding: .75rem 1rem;
    font: var(--text);
}

label {
    font: var(--text-sm);
    color: var(--text-secundary);
    display: block;
    margin-bottom: .25rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: .25rem solid var(--surface-secondary);
    border: .125rem solid var(--stroke-highlight);
    outline-offset: 1px;
}

input[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        position: absolute;
        background: url(../../assets/icons/calendar-03.svg) center/contain;
        right: 1rem;
    }
}

select {
    background: url(../../assets/icons/arrow-down-01.svg) no-repeat right 1rem center;
    padding-right: 2.5rem;
}

.input-wrapper {
    width: 100%;
}

.flex {
    display: flex;
    gap: 1.25rem;

    & > div {
        flex: 1;
    }

    & label {
        width: 100%;
    }
}

.flex-1 {
    flex: 1;
}