@import './fields/index.css';

form {
    margin-top: 3rem;
    max-width: 33rem;
    margin-left: auto;
}

fieldset {
    border: none;
    display: grid;
    gap: 1.5rem;
}

legend {
    font: 600 1rem/1.25 var(--font-family);
    margin-bottom: 1.5rem;
}