* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

:root {
	--brand-light: #F67841;
	--brand-mid: #F3541C;
	--brand-dark: #E43A12;
	--text-primary: #292524;
	--text-secondary: #57534E;
	--text-tertiary: #8F8881;
	--text-highlight: #E43A12;
	--surface-primary: #FFFFFF;
	--surface-secondary: #FEE7D6;
	--surface-disabled: #E7E5E4;
	--stroke-default: #D6D3D1;
	--stroke-highlight: #F3541C;
	--semantic-error: #DC2626;
	--support-orange: #F9A474;
	--support-yellow: #FEDF6F;
	--support-green: #C7D78D;
	--support-blue: #B8CEDC;
	--support-violet: #C3B2E7;
	--support-pink: #F682A5;

	--font-family: 'Poppins', sans-serif;
	--text: 400rem 1rem/1.5rem var(--font-family);
	--text-sm: 400rem 0.875rem/1.4rem var(--font-family);
}